/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	background-color: #7777ff;
}

body {
	@apply h-screen;
	@apply w-screen;
	margin: 0;
	background: radial-gradient(farthest-side at bottom left, rgba(182, 0, 182, 0.5), transparent 80%),
		radial-gradient(farthest-corner at bottom right, rgba(209, 115, 0, 0.5), transparent 80%),
		radial-gradient(farthest-corner at top right, rgba(0, 214, 168, 0.5), transparent 80%);
}

#zone {
	height: auto !important;
}
